.weather-list{
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem 0;
    border-top: 1px solid #ccc;
    max-width: 80%;
    margin: 0 auto;

}

.weather-item {
    flex: 0 0 auto;
    background-color: #6e6d6d;
    width: 120px;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}